{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.avatar.url }}" alt="{{ post.author }}'s avatar">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">
                    {{ post.date_posted|date:"jS F, Y" }}</small>
                {% if post.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
            <p>
                <a class="btn btn-primary btn-sm mr-1" href="javascript:void(0)">Like</a>{{ likes|length }} Likes<br />
                {% for like in likes %}
                    <small class="text-muted">{{ like.username }} liked this!</small>
                    <br />
                {% endfor %}
            </p>
        </div>
    </article>
    <div>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Comments ({{ post.comment_set.all|length }})
            </legend>
            {% if comments|length == 0 %}
                <p>Be the first to comment. <a href="{% url 'register' %}" class="ml-1">Register</a> now!</p>
            {% endif %}
        </fieldset>
        {% if user.is_authenticated %}
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        Post
                    </button>
                </div>
            </form>
        {% endif %}
    </div>

    {% for comment in comments %}
        <div class="card mb-2">
            <div class="card-body">
                <p class="card-text">
                    {{ comment.content }}
                </p>
                By <a href="{% url 'user-posts' comment.author %}" class="card-link">{{ comment.author }}</a>
            </div>
        </div>
    {% endfor %}

{% endblock content %}